
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --lightgreen: #33cc00;
    --blue: #287bff;
    --white: #ffffff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--lightgreen);
    border-left: 15px solid var(--lightgreen);
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul
{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a

{
    color: var(--lightgreen);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after

{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
}